:root {
    --animate-duration: 2s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: auto;
}

.title{
    p{
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
        color: #f55f8d;
    }

    h1{
        font-size: 70px;
        line-height: 1.1;
        font-weight: 800;
        color: rgb(38, 38, 38);
        margin-bottom: 20px;
    }
}

.button-gradient{
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%);
    background-size: 200%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 20px 35px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: 0.5s;
    border-radius: 30px;
    outline: none;
}
.button-gradient:hover {
    background-position: right center;
}

.section-inner{
    padding-top: 115px;
}

/* Header */

header{

    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
    position: absolute;
    width: 100%;
    z-index: 10;


    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav{
            display: flex;
            align-items: center;

            ul {
                display: flex;
                margin-right: 30px;

                li {
                    padding: 55px 15px;

                    a {
                        color: #070120;
                        text-transform: capitalize;
                        font-size: 15px;
                        font-weight: 500;
                        transition: all 0.5s;

                        span{
                            display: inline-block;
                        }
                    }
                }

                li:hover {
                    a{
                        color: #f55f8d;
                        span
                        {
                            animation: upToDown 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* Carousel Section */

#carousel{
    padding-top: 180px;
    overflow: hidden;

    background-image: url(../image/pic2.png);
    background-position: top;
    background-size: 100%;
    .carousel-content{

        display: flex;

        .carousel-left{

            width: 60%;


            .article{

                p{
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                ul{
                    li{

                        font-size: 20px;
                        padding: 10px 5px 10px 0px;

                        i{
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            font-size: 24px;
                            color: rgb(255, 255, 255);
                            font-weight: 900;
                            background-image: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%);
                            background-size: 200%;
                            margin-right: 10px;
                            border-radius: 35px;
                        }
                    }
                }
            }

        }

        .carousel-right{

            width: 40%;

            img{
                max-width: 100%;
                display: block;
            }
        }

    }
}

/* Services Section */

#services{
    background-image: url(image/bg2.png);
    background-size: cover;
    text-align: center;
    background-position: center top;

    .services-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 40px;
        gap: 30px;

        .services-item{

            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 0px;
            transform: translateY(0px);
            border-radius: 0.5rem;
            background: rgb(255, 255, 255);
            padding: 30px 45px;
            transition: 0.5s;
            border-width: 3px;
            border-style: solid;
            border-color: transparent;
            border-image: initial;

            img{
                width: 215px;
            }

            h3{
                font-weight: 700;
                font-size: 1.5rem;
                color: rgb(38, 38, 38);
                margin: 15px 0px;
            }

            p{

            }

        }

        .services-item:hover{
            transform: translateY(-20px);
            border-image: url(../image/br.png) 1 / 1 / 0 round;
        }
    }
}

/* About Us Section */

#about{
    background-image: url(../image/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    background-position: right center;
    overflow: hidden;

    .about-content{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        .about-left{
            width: 60%;
            position: absolute;
            left: -17%;

            img{
                width: 100%;
                border-radius: 0px 100px 100px 0px;
            }
        }

        .about-right{
            width: 50%;

            p{
                margin-bottom: 15px;
            }

            ul{

                margin-bottom: 30px;
                li{

                    i{
                        font-size: 24px;
                        color: rgb(245, 95, 141);
                        margin-right: 10px;
                        vertical-align: middle;
                        margin-bottom: 5px;
                    }
                }
            }
        }

    }
}

/* Number Section */

#number{
    background-image: url(../image/bg14.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center center;
    padding: 80px 0px 50px;

    .number-content{
        display: flex;
        justify-content: space-around;

        .number-item {

            i {
                font-size: 45px;
                background-image: linear-gradient(to right, rgb(245, 95, 141) 0px, rgb(248, 174, 86) 51%, rgb(245, 95, 141) 100%);
                background-size: 200%;
                color: rgb(255, 255, 255);
                width: 80px;
                height: 80px;
                line-height: 80px;
                display: inline-block;
                margin-bottom: 15px;
                border-radius: 50%;
            }
        }

        .number-item p:first-of-type{
            font-size: 65px;
            font-weight: 800;
            color: rgb(245, 95, 141);
            line-height: 1;
        }
    }
}

/* Features Section */
#features{

    background-image: url(../image/bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    background-position: center center;
    overflow: hidden;

    .features-content{
        display: flex;

        .features-left{
            width: 50%;

            .features-item{
                padding: 0 50px 30px 0;

                i{
                    font-size: 80px;
                    line-height: 1;
                    color: #f55f8d;
                    z-index: 1;
                    transition: all 1s;
                }

                .features-bg{
                    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
                    padding: 30px;
                    background-color: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                }

                div{
                    padding-left: 25px;
                    z-index: 1;
                    transition: all 1s;

                    h3{
                        font-weight: 800;
                        color: #262626;
                        font-size: 1.5rem;
                        transition: all 1s;
                    }
                }
            }

            .features-item:nth-of-type(2){
                padding: 0 0 30px 50px;
            }
        }

        .features-right{
            width: 50%;

            .features-banner{
                margin-right: -80px;

                img{
                    max-width: 100%;
                    animation: move2 5s infinite;
                }
            }
        }
    }

}

/* Portfolio Section */

#portfolio{
    ackground-image: url(../image/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;

    .portfolio-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr) 1.5fr;
        gap: 35px;

        .portfolio-item {
            border-radius: 10px;
            position: relative;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }

            .portfolio-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 0;
                transition: all 0.75s;

                .portfolio-text{
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    text-align: left;
                    transform: translateY(150px);
                    transition: all 0.75s;

                    h3{
                        font-size: 22px;
                        font-weight: 800;
                        color: white;
                    }

                    p{
                        color: #fff;
                        opacity: 0.7;
                    }
                }

                .portfolio-icon{
                    position: absolute;
                    top: 20px;
                    right: 20px;

                    font-size: 28px;
                    color: #fff;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                    background-size: 200%;
                    border-radius: 10px;
                    transform: translate(20px, -20px);
                    transition: all 0.75s;

                    a{
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item1 {
            grid-column: 1 / span 2;
        }

        .portfolio-item5 {
            grid-column: 1 / span 2;

        }

        .portfolio-item6{
            grid-column: 3 / 4;
            grid-row: 2 / 4;
        }

        .portfolio-item::before {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            display: block;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(-25deg);
            transition: all 0.75s;
        }

        .portfolio-item:hover::before {
            left: 125%;
        }

        .portfolio-item:hover .portfolio-overlay {
            opacity: 1;

            .portfolio-text{
                transform: translateY(0);
            }

            .portfolio-icon{
                transform: translateY(0);
            }
        }
    }
}

/* Blog Section */
#blog{
    background-image: url(../image/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;

    .blog-content{

        .blog-item{
            text-align: left;
            background: rgba(245, 95, 141, 0.1);
            border-radius: 8px;
            .item-header{
                position: relative;
                img{
                    display: block;
                    width: 100%;
                }
                p{
                    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                    background-size: 200%;
                    border-radius: 6px;
                    padding: 10px 20px;
                    font-size: 14px;
                    color: white;
                    position: absolute;
                    bottom: -20px;
                    left: 15px;
                }
            }

            .item-body{
                padding: 30px 15px 20px 15px;
                line-height: 1.4;
                margin-bottom: 20px;

                h3{
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #262626;
                }
            }

            .item-footer{
                display: flex;
                align-items: center;
                padding: 15px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 14px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);

                i{
                    font-size: 20px;
                    padding-right: 10px;
                    color: #f55f8d;
                    vertical-align: sub;
                }
            }

            .item-footer p:first-of-type{
                margin-right: 20px;

                span{
                    color: #f55f8d;
                }
            }


        }
    }
}

/* Footer */

footer{
    background-image: url(../image/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;

    .footer-top{
        padding: 50px 60px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
        background-image: url(../image/pattern3.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        display: flex;

        .footer-title{
            width: 50%;

            h2{
                font-size: 28px;
                color: #262626;
            }
            }

        .footer-form{
            width: 50%;
            form{
                display: flex;
                border-radius: 0.5rem;
                box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);

                input{
                    padding: 20px 20px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #888;
                    background: #fff;
                    flex: 1 1 auto;
                    border-radius: 0.5rem 0 0 0.5rem;
                    border: 1px solid #fff;
                    outline: none;
                    transition: all .5s;
                }

                button{
                    padding: 20px 35px;
                    font-size: 20px;
                    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                    background-size: 200%;
                    border-color: transparent;
                    transition: all 0.5s;
                    border-radius: 0 0.5rem 0.5rem 0;
                    color: white;
                    cursor: pointer;
                }

                button:hover{
                    background-position: right center;
                }
            }


        }
    }

    .footer-bottom{
        display: flex;
        padding: 70px 0;
        position: relative;

        .footer-item{
            font-weight: 700;
            margin-right: 10px;
            width: 25%;


            li{
                padding: 0.5rem 0;
            }

            .footer-contact{

                li{
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }
                i{
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    margin-right: 10px;
                    text-align: center;
                    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                    display: block;
                    border-radius: 50px;
                }
            }

            h3{
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 30px;
                position: relative;
                color: #fff;
            }


            h3::before, h3::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                border-radius: 20px;
                background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                background-size: 200%;
            }



            h3::before{
                width: 15px;
            }

            h3::after {
                width: 45px;
                left: 20px;
            }


            a{
                    color: #636363;
                    font-size: 16px;
                    transition: all .5s;

                    i{
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }

            a:hover{
                color: white;
            }


        }
    }

    .footer-copyright{
        background-color: #1f343b;
        padding: 10px 0;
        position: relative;

        .footer-content{
            display: flex;
            justify-content: space-between;

            .footer-left{

                span{
                    color: #f55f8d;
                }
            }

            .footer-right{

                a{
                    height: 32px;
                    width: 32px;
                    line-height: 32px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50px;
                    font-size: 14px;
                    color: white;
                    background-color: rgba(255, 255, 255, 0.1);
                    transition: all 0.5s;
                }

                a:hover{
                    background: #f55f8d;
                }
            }
        }
    }
}

footer::before{
    content: "";
    background-image: url(../image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Key Frames */
@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}
